
@{
    ViewData["Title"] = "Esami Sostenuti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br />
    <div class="bg-success p-2 text-white">
        <h1><i class="bi bi-calendar-day"></i>  Esami Sostenuti</h1>
    </div>
    <br />

    <!-- Tabella Degli Esami sostwenuti-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Modulo</th>
                <th scope="col">voto</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
            
                <td>Mark</td>
                <td>Otto</td>
                <td>zmdo</td>
            </tr>
            </tbody>
    </table>

</div>




