
@{
    ViewData["Title"] = "Prenota Esame";
    //@model EcdlBooking.ViewModel.Admin_Exam_Create;
}


<div class="container">

    <!--   inizio dell impaginazionme -->
<div class="bg-success p-2 text-white">
    <h1><i class="bi bi-calendar-day"></i>  Prenota Esame</h1>
</div>
    <!--   inizio dellimpaginazionme -->

    <div class="container">

        <div class="row">
            <div class="col">
                Column
            </div>
            <div class="col">
                Data
            </div>
            <div class="col">
                Column
            </div>
            <div class="col">
                Column
            </div>
        </div>


    </div>




    <!--   Fine  delli mpaginazionme -->
</div>