@{
    ViewData["Title"] = "Home Page";
    @model Task<IEnumerable<EcdlBooking.Models.Exam>>;
}



<div class="text-center">
    <h1 class="display-4">Pagina della lista degli esami Prenotabili </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<div class="container">

	


    @if (@Model != null)
    {


        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Ora Inizio</th>
                    <th scope="col">Luogo</th>
                    <th scope="col">Esaminatore</th>
                    <th scope="col">  </th>

            </thead>
            <tbody>
                <!--     sperimentazione     -->
                @foreach (var i in await @Model)
                {
                    <tr>
                        <td scope="col">@i?.Data.ToString("dd/MM/yyyy")</td>
                        <td scope="col">@i?.Data.ToString("HH:MM")</td>
                        <!--
                        <td scope="col"> 
                            @*
                            @i.School.Name.ToString() 
                            *@
                        </td>
						-->

                        <td scope="col">Esaminatore </td>
                        <td scope="col">
                            <a type="button" class="btn btn-primary" asp-route="Querry">Prenota</a>
                        </td>
                    </tr>



                  

                }


            </tbody>
        </table>

        <p>Ciaooooo</p>



    }



</div>

<!-- Prova Radio Botton Esempio-->

Ciao

    <div class="b-example-divider"></div>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div class="list-group list-group-checkable d-grid gap-2 border-0">
            <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios1" value="" checked> <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1">
                First radio
                <span class="d-block small opacity-50">With support text underneath to add more detail</span>
            </label> <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios2" value=""> <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios2">
                Second radio
                <span class="d-block small opacity-50">Some other text goes here</span>
            </label> <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios3" value=""> <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
                Third radio
                <span class="d-block small opacity-50">And we end with another snippet of text</span>
            </label> <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios4" value="" disabled> <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios4">
                Fourth disabled radio
                <span class="d-block small opacity-50">This option is disabled</span>
            </label>
        </div>
    </div>





