@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}


<div class="container">
    <!-- Content here -->
    <table class="table">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo Sessione</th>
                <th scope="col">Sitzungstyp</th>
                <th scope="col">Azione</th>
            </tr>
        </thead>
        <tbody>

            <tr>

                <td></td>
                
                    <td>
                        <input class="form-control form-control-lg" type="text" placeholder="Tipo Sessione" aria-label=".form-control-lg example">
                    </td>
                    <td>
                        <input class="form-control form-control-lg" type="text" placeholder="Sitzungstyp" aria-label=".form-control-lg example">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary mb-3">Aggiungi</button>
                    </td>




            </tr>

            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        </div>
                </td>


                <td>Sessione</td>
                <td>sessione tedesco</td>
                <td></td>

            </tr>


        </tbody>
    </table>
</div>